body
{
	background: #EFEFEF;
	color: #4C4C4C;
	font-family: 'News Cycle', sans-serif;
	font-size: 16px;
	margin: 0;
 	text-align: center; 
}
header 
{
	
	color: #EFEFEF;
	display: inline-block;
	height: 85px;
	margin: 0;
	padding: 0.5rem;
	vertical-align: top;
}
header a
{
	text-decoration: none;
	color: #4C4C4C;
}
header h1
{
	color: #EFEFEF;
	font-size: 20px;
	font-weight: normal;
}
nav
{
	float: right;
	font-size: 0.9em;
	margin-right: 10em;
	margin-top: 5em;
}
nav ul
{
	list-style: none;
	margin: 0 ;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;
	vertical-align: top;
}
nav ul li a
{
	color: #666;
	display: block;
	font-size: 1em;
	margin: 0 0 0 2em;
	padding: 0.5em 0;
	text-decoration: none;
}
nav ul li a:hover
{
	color:#000000;
}
footer
{
	color: #666;
	padding: 1em 0;
}
footer p
{
	display: block;
	text-align: center;
}
#contenido
{
	border: 1px solid black;
	height: 509px;
	margin: auto ;
	width: 1000px;
}

#portfolio
{
	border: 1px solid black;
	height: 509px;
	margin: auto;
	width: 1000px;
}
#portfolio ul li
{
	display: inline-block;
	vertical-align: top;
	margin: 0.7em;
}
#portfolio p
{
	margin: 0;
	font-size: 1em;
}
#titulo_header
{
	color: #000000;
	margin: 1em 1em 1em 10em;
}
#titulo_header span
{
	color: #FFF;
}
